.filter1 {
  filter: hue-rotate(90deg);
  /* filter:drop-shadow(8px 8px 20px black); */
}
.filter2 {
  filter:grayscale(100%);
}
.filter3 {
  filter:invert(100%);

}

#myvideo {
  display: none;
  /* transform: translate(100px, 100px); */
}

#mycanvas {
  display: none;
}

#buttons{
  text-align: center;
}
